body{ 
  font-family: 'Roboto', sans-serif;
  min-height: 100vh; 
  margin: 0;     

}

a:hover {
  opacity: 0.6;
}

.form-control,
.form-select,
.error {
  border-radius: 40px ;
}
.form-control[multiple] {
  border-radius: 20px ;
}

